h1 {
font-size: 2.5rem;
color: 	transparent;
-webkit-text-stroke: 2px #8b5a2b;
}

.wunsch-card {
  display: grid;
  grid-template-rows: 180px 50px 30px 40px 50px;
  /* image | title | subtitle | notiz/link | actions */
  height: 100%;
  border: 5px solid rgba(216, 189, 31, 0.955);
  
}


:host{
    display: block;
    min-height: 110vh;
    
    padding-top: 2rem;
}

.wunsch-button {
    background-color: #8b5a2b;
    color: white;
}

.wunsch-bild {

  max-width: 180px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.card-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-subtitle {
  overflow: hidden;
}

.wunsch-notiz {
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.85rem;
}

.card-link {
  display: block;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.85rem;
}

.wunsch-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

