<div class="container mt-4">
 <div class="d-flex justify-content-between align-items-center mb-3">
    <!-- der Vorname aus dem Auth-Service, gefolgt von "s Wunschkiste" -->
    <h1>{{ name() }}s Wunschkiste</h1>
 </div>

 <a routerLink="/neu" class="btn btn-primary position-fixed bottom-0 end-0 m-5">+ Neuer Wunsch</a>

 <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let wunsch of wuensche">
        <div class="card" style="width: 18rem;">
        <img *ngIf="wunsch.bildUrl" [src] ="wunsch.bildUrl" class="card-img-top" alt="Wunschbild">
            <div class="card-body">
             <h5 class="card-title">{{ wunsch.titel }}</h5>
             <h6 class="card-subtitle mb-2 text-body-secondary">{{ wunsch.kategorie }} · {{ wunsch.preis }} €</h6>
             <p *ngIf="wunsch.notiz" class="card-text">{{ wunsch.notiz }} </p>
             <a href="#" class="btn btn-primary">Bearbeiten</a>
             <a *ngIf="wunsch.link" [href]="wunsch.link" class="card-link">link</a>

             <div class="mt-2">
                <a [routerLink]="[' /bearbeiten' , wunsch.id]" class="btn btn-sm btn-outline-secondary">Bearbeiten</a>
                <button (click)="loeschen(wunsch.id!)" class="btn btn-sm btn-outline-danger">Löschen</button>
             </div>
            </div>
        </div>
    </div>
 </div>

  <p *ngIf="wuensche.length === 0">Noch keine Wünsche vorhanden.</p>
</div>
