<div class="container mt-4" style="max-width: 400px;">
    <h2>Willkommen</h2>

    <ul class="nav nav tabs mb-3">
        <li class="nav-item">
            <a class="nav-link" [class.active]="modus === 'anmelden'"
               (click)="modusWechseln('anmelden')" style="cursor: pointer;">Anmelden</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" [class.active]="modus === 'registrieren'"
               (click)="modusWechseln('anmelden')" style="cursor: pointer;">Registrieren</a>
        </li>
    </ul>

    <div *ngIf="fehlerText" class="alert alert-danger"> {{ fehlerText }}</div>

    <form *ngIf="modus === 'anmelden'" (ngSubmit)="anmelden()">
        <div class="mb-3">
           <label class="form-label">Benutzername</label> 
           <input type="text" class="form-control" [(ngModel)]="benutzername" name="benutzername" required>
        </div>
        <div class="mb-3">
           <label class="form-label">Passwort</label>
           <input type="password" class="form-control" [(ngModel)]="passwort" name="passwort" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Anmelden</button>
    </form>

    <form *ngIf="modus === 'registrieren'" (ngSubmit)="registrieren()">
        <div class="mb-3">
            <label class="form-label">Vorname</label>
            <input type="text" class="form-control" [(ngModel)]="vorname" name="vorname" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Nachname</label>
            <input type="text" class="form-control" [(ngModel)]="nachname" name="nachname" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Benutzername</label>
            <input type="text" class="form-control" [(ngModel)]="benutzername" name="benutzername" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Passwort</label>
            <input type="text" class="form-control" [(ngModel)]="passwort" name="passwort" required>
        </div>
        <button type="submit" class="btn btn-success w-100">Registrieren</button>
    </form>

</div>
